In [1]:
from Explorer import Explorer

In [2]:
census_data = Explorer("./USCensus_ACS_5yr_2019_Modified.csv", skip_rows=[0, 2])

In [3]:
df = census_data.getDataFrame()
df.head()

,Division,PersonNumber,Region,State,Age,Citizenship,YearNaturalization,ClassOfWorker,SelfCareDiff,HearingDiff,...,MaritalStatus,MilitaryService,EducationAttainment,Sex,Wages,HoursWorked,HealthInsurance,TimeOfWorkArrival,TimeOfWorkDeparture,TotalIncome
0,3,1,2,55,57,1,NaN,6.0,2.0,2,...,3,4.0,16.0,1,0.0,8.0,1,73.0,31.0,16400.0
1,3,2,2,55,30,1,NaN,1.0,2.0,2,...,5,4.0,20.0,1,37300.0,40.0,2,90.0,49.0,37300.0
2,3,3,2,55,55,1,NaN,1.0,2.0,2,...,3,4.0,16.0,2,7200.0,16.0,2,219.0,127.0,7200.0
3,3,1,2,55,76,1,NaN,NaN,2.0,2,...,1,4.0,16.0,1,0.0,NaN,1,NaN,NaN,32200.0
4,3,2,2,55,72,1,NaN,NaN,2.0,2,...,1,4.0,16.0,2,0.0,NaN,1,NaN,NaN,12200.0